---
import Site from "../../layouts/Site.astro"
import Section from "../../components/container/Section.astro"
import { Var } from "../../script/var"

const title = `Contact Us — ${Var.app.name}`
---

<Site title={title} description={Var.app.description}>
	<Section>
		Contact Us
	</Section>
</Site>
