@import "reset.css";
@import "vars.css";

@font-face {
  font-family: "IBM Plex Serif";
  src: url("./IBMPlexSerif-Regular.woff2");
  font-display: swap;
}

body {
  background: var(--color__site--background);
  font-size: var(--font-size__body);
  color: var(--color__gray--300);
  font-family: var(--font-family__serif);
  line-height: var(--line-height);
  width: 90%;
  max-width: 1040px;
  margin: 0 auto;
}

h1 {
  font-family: "IBM Plex Serif", serif;
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 700;
  color: var(--color__gray--200);
}

h2 {
  margin: 0.5em 0 1.25em 0;
  font-weight: 400;
  font-size: 1.75em;
  line-height: 1.5em;
  font-weight: 700;
  color: var(--color__gray--200);
}

article {
  max-width: 480px;
  margin: 0 auto;
  text-align: left;
}

main {
  max-width: 480px;
  text-align: center;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--color__gray--800);
}

.date {
  font-size: 0.8em;
  color: var(--color__gray--400);
}

.footnote {
  margin-top: 0.5em;
  font-size: 0.8em;
  color: var(--color__gray--400);
}

.seperator {
  border-top: 1px solid var(--color__gray--800);
  width: 100%;
  margin: 2em 0;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin-top: 1em;
}
