@import "reset.css";
@import "vars.css";

body {
  background: var(--color__site--background);
  font-size: var(--font-size__body);
  color: var(--color__white--brighter);
  font-family: var(--font-family__serif);
  line-height: var(--line-height);
}

h1 {
  font-family: "IBM Plex Serif", serif;
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 700;
}

h2 {
  margin: 0.5em 0 1.25em 0;
  font-weight: 400;
  font-size: 1.75em;
  line-height: 1.5em;
  font-weight: 700;
}

.separator--short {
  display: inline-block;
  width: 100px;
  margin: 0 auto;
  border-top: 1px solid var(--color__white--dim);
  margin: 2em 0;
}
