@import "reset.css";
@import "vars.css";

body {
  background: var(--color__site--background);
  font-size: var(--font-size__body);
  color: var(--color__white--brighter);
  font-family: var(--font-family__sans-serif);
  line-height: var(--line-height);
}
