:root {
  --font-size__body: 18px;
  --font-size__display: 1.5em;
  --font-size__heading: 1.25em;
  --font-size__footnote: 0.8em;
  --font-weight__display: 700;
  --font-weight__heading: 500;
  --font-weight__body: 400;
  --font-family__sans-serif: "IBM Plex Sans", sans-serif;
  --font-family__serif: "IBM Plex Serif", serif;

  --padding: 1em;
  --border: 1px solid var(--color__white--dimmer);
  --border__input: 1px solid var(--color__white--dim);
  --border-radius: 0.5em;
  --line-height: 1.8;

  --color__site--background: #121212;
  --color__white--brightest: rgba(255, 255, 255, 1);
  --color__white--brighter: rgba(255, 255, 255, 0.87);
  --color__white--bright: rgba(255, 255, 255, 0.6);
  --color__white--regular: rgba(255, 255, 255, 0.5);
  --color__white--dim: rgba(255, 255, 255, 0.3);
  --color__white--dimmer: rgba(255, 255, 255, 0.2);
  --color__white--dimmest: rgba(255, 255, 255, 0.1);

  --color__blue--100: #bbdefb;
  --color__blue--200: #90caf9;
  --color__blue--300: #64b5f6;

  --color__red--100: #ffcdd2;
  --color__red--200: #ef9a9a;
  --color__red--300: #e57373;

  --color__green--100: #c8e6c9;
  --color__green--200: #a5d6a7;
  --color__green--300: #81c784;

  --pattern__topbar__height: 50px;
}
