:root {
  --font-size__body: 18px;
  --font-size__display: 1.5em;
  --font-size__heading: 1.25em;
  --font-size__footnote: 0.8em;
  --font-weight__display: 700;
  --font-weight__heading: 500;
  --font-weight__body: 400;

  --font-family__sans-serif: "IBM Plex Sans", sans-serif;
  --font-family__serif: "IBM Plex Serif", serif;

  --padding: 1em;
  --border: 1px solid var(--color__gray--800);
  --border__input: 1px solid var(--color__gray--600);
  --border-radius: 0.5em;
  --line-height: 1.8;

  --color__site--background: #121212;

  --color__gray--100: #f5f5f5;
  --color__gray--200: #eeeeee;
  --color__gray--300: #e0e0e0;
  --color__gray--400: #bdbdbd;
  --color__gray--600: #757575;
  --color__gray--700: #616161;
  --color__gray--800: #424242;
  --color__gray--900: #212121;

  --color__blue--100: #d1c4e9;
  --color__blue--200: #b39ddb;
  --color__blue--300: #9575cd;

  --color__red--100: #ffcdd2;
  --color__red--200: #ef9a9a;
  --color__red--300: #e57373;

  --color__green--100: #c8e6c9;
  --color__green--200: #a5d6a7;
  --color__green--300: #81c784;

  --pattern__topbar__height: 50px;
}
