:root {
  --site__font-size--body: 15px;
  --site__font-size--display: 1.5em;
  --site__font-size--heading: 1.25em;
  --site__font-size--footnote: 0.8em;

  --site__font-weight--display: 700;
  --site__font-weight--heading: 500;
  --site__font-weight--body: 400;
  --site__padding: 1em;
  --site__border-radius: 0.5em;
  --site__line-height: 1.8;

  --color__site--background: #121212;

  --color__blue--darkest: #032844;
  --color__blue--darker: #054272;
  --color__blue--dark: #065c9f;
  --color__blue--regular: #0984e3;
  --color__blue--light: #84c2f1;
  --color__blue--lighter: #e6f3fc;
  --color__blue--lightest: #f3f9fe;

  --color__grey--darkest: #262626;
  --color__grey--darker: #404040;
  --color__grey--dark: #5a5a5a;
  --color__grey--regular: #808080;
  --color__grey--light: #c0c0c0;
  --color__grey--lighter: rgba(0, 0, 0, 0.1);
  --color__grey--lightest: #f9f9f9;

  --color__green--darkest: #00372c;
  --color__green--darker: #005c4a;
  --color__green--dark: #008168;
  --color__green--regular: #00b894;
  --color__green--light: #80dcca;
  --color__green--lighter: #e6f8f4;
  --color__green--lightest: #f2fcfa;

  --color__orange--darkest: #45260a;
  --color__orange--darker: #8a4c14;
  --color__orange--dark: #a15818;
  --color__orange--regular: #e98b38;
  --color__orange--light: #f3bf91;
  --color__orange--lighter: #f8d8bd;
  --color__orange--lightest: #fdf2e9;

  --color__red--darkest: #400e0f;
  --color__red--darker: #6b1819;
  --color__red--dark: #962222;
  --color__red--regular: #d63031;
  --color__red--light: #eb9898;
  --color__red--lighter: #fbeaea;
  --color__red--lightest: #fdf5f5;
}
