---
interface Props {
	variant?: string;
}

const { variant } = Astro.props
---

<div class={`card card__${variant}`}>
    <slot></slot>
</div>

<style>
    .card {
        display: block;
        border: var(--border);
        padding: calc(var(--padding) * 1.5);
        border-radius: var(--border-radius);
        background: white;
    }

    .card__testimonial {
        width: 300px;
    }
</style>