---
interface Props {
	variant?: string;
}

const { variant } = Astro.props
---

<div class={`card card__${variant}`}>
    <slot></slot>
</div>

<style>
    .card {
        display: block;
        border: 1px solid var(--color__grey--light);
        padding: calc(var(--site__padding) * 1.5);
        border-radius: var(--site__border-radius)
    }

    .card__testimonial {
        width: 300px;
    }
</style>