<div class="gallery-item">
  <slot />
</div>

<style>
  .gallery-item {
    max-width: 460px;
    border: var(--border);
    padding: var(--padding) calc(var(--padding) * 1.5);
    border-radius: var(--border-radius);
  }
</style>
