---
import { Var } from '../../script/var'
import Link from '../../components/elements/Link.astro'
---

<footer>
  <Link href="/">
    <img
      width="150"
      height="29"
      src="/logotype.svg"
      alt={`Logo of ${Var.app.name}, the sceure & private digital library`}
    />
  </Link>
  <br /><br />
  <ul class="bullet-list left-margin">
    <li><Link href="/terms-of-service">Terms of Service</Link></li>
    <li><Link href="/privacy-policy">Privacy Policy</Link></li>
  </ul>
  <br />
  <p class="footnote">
    © {new Date().getFullYear()}&nbsp;{Var.app.name}
    &mdash; Made in <Link
      href="https://www.google.com/search?q=Beautiful+Assam&tbm=isch&ved=2ahUKEwi_w7v6rsmIAxXU5jgGHd_eDJAQ2-cCegQIABAA&oq=Beautiful+Assam&gs_lp=EgNpbWciD0JlYXV0aWZ1bCBBc3NhbTINEAAYgAQYsQMYQxiKBTIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABEiVLFC8EljcKHAAeACQAQCYAacCoAHZFKoBBjAuMTUuMbgBA8gBAPgBAYoCC2d3cy13aXotaW1nwgIEECMYJ8ICCxAAGIAEGLEDGIMBwgIOEAAYgAQYsQMYgwEYigXCAggQABiABBixA8ICChAAGIAEGEMYigWIBgE&sclient=img&ei=2iPpZr_uBtTN4-EP372zgAk&bih=1401&biw=1080"
      >Assam</Link
    >
    by <Link href={Var.app.developer.url}>Tuhin Bhuyan</Link>
  </p>
</footer>

<style>
  footer {
    border-top: var(--border);
    padding: calc(var(--padding) * 2) 0;
    padding-bottom: 4em;
  }
</style>
