---
import { Var } from "../../script/var"
---

<footer>
    <p>
      © {new Date().getFullYear()}&nbsp;{Var.app.name}
    </p>
</footer>

<style>
    footer {
      text-align: center;
      padding: var(--padding) 0;
      padding-bottom: 4em;
    }
</style>