---
import { Var } from "../../script/var"
import Link from "../../components/elements/Link.astro"

---

<footer>
    <p><Link href="/terms-of-service">Terms of Service</Link></p>
    <p><Link href="/privacy-policy">Privacy Policy</Link></p>
    <br/>
    <p>
      © {new Date().getFullYear()}&nbsp;{Var.app.name}
    </p>
</footer>

<style>
    footer {
      padding: var(--padding) 0;
      padding-bottom: 4em;
    }
</style>