---
import NavBar from "./NavBar.astro"
import Link from "../elements/Link.astro"
import { Var } from "../../script/var"

interface Props {
	location?: string;
}

const { location } = Astro.props;

---


<header>
    <Link href="/">
      { location === "blog" || "docs" ? 
        <img width="100" src="../../../public/logo.png" /> :
        <img width="100" src={`../../../public/logo-${location}.png`} />
      }
    </Link>
    <NavBar width="400">
        <Link href="/pricing">Pricing</Link>
        <Link href="/docs">Docs</Link>
        <Link href="/blog">Blog</Link>
        <Link href="/contact-us">Contact Us</Link>
    </NavBar>
    <div>
        <Link href={Var.app.url} variant="button" fill="outline" theme="default">Log in</Link>
        &nbsp;&nbsp;
        <Link href={Var.app.url} variant="button" fill="solid" theme="default">Sign up</Link>
    </div>
</header>
<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding) 0;
    }
</style>