---
import Link from '../elements/Link.astro'
import { Var } from '../../script/var'
---

<header>
  <Link href="/">
    <img
      class="logotype"
      width="150"
      height="29"
      src="/logotype.svg"
      alt={`Logo of ${Var.app.name}, the sceure & private digital library`}
    />

    <img
      class="logomark"
      width="29"
      height="29"
      src="/logomark.svg"
      alt={`Logo of ${Var.app.name}, the sceure & private digital library`}
    />
  </Link>
  <nav>
    <Link variant="bright" href="https://app.innerpage.org">Write Now</Link>
    &nbsp; &nbsp;&nbsp; &nbsp;
    <Link variant="bright" href="/blog">Blog</Link>
    &nbsp; &nbsp;&nbsp; &nbsp;
    <Link variant="bright" href="https://github.com/innerpage" target="_blank"
      >Github</Link
    >
    &nbsp; &nbsp;&nbsp; &nbsp;
    <Link variant="bright" href="/support-us">Support Us</Link>
  </nav>
</header>
<style>
  header {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    border-bottom: var(--border);
    padding-bottom: var(--padding);
  }

  .logotype {
    display: block;
  }

  .logomark {
    display: none;
  }

  @media only screen and (max-width: 480px) {
    .logotype {
      display: none;
    }

    .logomark {
      display: block;
    }
  }
</style>
