---
import NavBar from "./NavBar.astro"
import Link from "../elements/Link.astro"
---


<header>
    <Link href="/" target="">
      <img width="100" src="../../../public/logo.png" />
    </Link>
    <NavBar width="400">
        <Link href="/pricing" target="">Pricing</Link>
        <Link href="/docs" target="">Docs</Link>
        <Link href="/blog" target="">Blog</Link>
        <Link href="/contact-us" target="">Contact Us</Link>
    </NavBar>
    <p>Login/Signup</p>
</header>
<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--site__padding) 0;
    }
</style>