---
interface Props {
	width?: string;
}

const { width } = Astro.props
---

<nav>
   <slot/>
</nav>

<style define:vars={{ width: `${width}px` }}>
   nav {
      width: var(--width);
      display: flex;
      justify-content: space-between;
   }
</style>