---
import '../styles/index.css';
import Header from "../components/patterns/Header.astro"
import Footer from "../components/patterns/Footer.astro"

interface Props {
	title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=IBM+Plex+Serif:wght@400;600&display=swap" rel="stylesheet" />	
	</head>
	<body>
		<Header></Header>
		<slot />
		<Footer></Footer>
	</body>
</html>

<style>
	body {
		width: 95%;
		max-width: 1200px;
		margin: 0 auto;
	}
</style>