---
import Site from "../layouts/Site.astro"
import Section from "../components/container/Section.astro"
import Link from "../components/elements/Link.astro"
import { Var } from "../script/var"
import Card from "../components/container/Card.astro"


---

<Site title={`${Var.app.name} — ${Var.app.tagline}`} description={Var.app.description}>
	<div id="petal-container">  
		<img class="petal" src="./petal-1.avif"/>
		<img class="petal" src="./petal-2.avif"/>
		<img class="petal" src="./petal-5.avif"/>
	</div>
	<Section>
		<div class="hero">
			<h1>Improve your mental health</h1>
			<p>InnerPage is a <strong>secure & private digital journal for privacy conscious people</strong>. Pour out your deepest thoughts and feelings <strong>anonymously</strong></p>
			<br/>
			<Link href={Var.app.url} variant="button" fill="solid" theme="default" size="large"><strong>Start Writing</strong></Link>
		</div>
	</Section>
	<Section>
		<article>
			<Card>
				<p style="margin:0; margin-top: 1em;">
					<em>"One of the more effective acts of self-care is also, happily, one of the cheapest"</em>
				</p>
				<div class="row-reverse">
					<p>
						<Link target="_blank" href="https://www.nytimes.com/2018/10/25/style/journaling-benefits.html"><strong>What’s All This About Journaling?</strong></Link><br/> <span class="footnote">THE NEW YORK TIMES</span>
					</p>
				</div>
				<div class="seperator"></div>
				<p style="margin:0; margin-top: 1em;">
					<em>"The process of putting emotions into words seems to unintentionally activate a process of emotion regulation"</em>
				</p>
				<div class="row-reverse">
					<p>
						<Link target="_blank" href="https://blogs.kcl.ac.uk/editlab/2018/03/16/putting-feelings-into-words-the-beneficial-effects-of-affect-labelling/"><strong>Putting feelings into words</strong></Link><br/> <span class="footnote">EDIT LAB, KING's COLLEGE LONDON</span>
					</p>
				</div>
				<div class="seperator"></div>
				<p style="margin:0; margin-top: 1em;">
					<em>"Study after study showed that writing about traumatic experience had significant effect on mental health, physical health & a variety of other behaviours"</em>
				</p>
				<div class="row-reverse">
					<p>
						<Link target="_blank" href="https://www.youtube.com/watch?v=XsHIV9PxAV4"><strong>The expressive writing method</strong></Link><br/> <span class="footnote">JAMES PENNEBAKER</span>
					</p>
				</div>
			</Card>
		</article>
	</Section>
	<Section>
		<main>
			<h2>How journaling improves mental health?</h2>
			<article>
				<p>Journaling has been shown to have various benefits for mental health, supported by numerous studies and expert opinions. Here are some key ways journaling can improve mental health:</p>
				<br/><br/>
				<ul>
					<li><strong></strong><span class="material-symbols-outlined">check</span> <strong>Reduces Stress and Anxiety</strong></li>
					<li><span class="material-symbols-outlined">check</span> <strong>Enhances Emotional Regulation</strong></li>
					<li><span class="material-symbols-outlined">check</span> <strong>Improves Mood and Well-being</strong></li>
					<li><span class="material-symbols-outlined">check</span> <strong>Facilitates Problem Solving and Cognitive Function</strong></li>
					<li><span class="material-symbols-outlined">check</span> <strong>Boosts Memory and Immune Function</strong></li>
					<li><span class="material-symbols-outlined">check</span> <strong>Enhances Self-Awareness and Encourages Mindfulness</strong></li>
				</ul>
			</article>

			
		</main>
	</Section>
	<Section>
		<main>
			<h2>Why use InnerPage?</h2>
			<article>
				<p>We believe  your personal reflections should remain truly personal. Our privacy-centric digital journal is designed with your confidentiality as our top priority. Your anonymity isn't just a feature; it's the foundation value of InnerPage. Here is how InnerPage fulfills your secure & private journalling needs:</p>
				<br/><br/>
				<ul>
					<li><span class="material-symbols-outlined">check</span> <strong>100% Anonymous Sign-Up</strong><br/><p class="subtext">No email or phone number required - just choose a username and password</p></li>
					<li><span class="material-symbols-outlined">check</span> <strong>Zero Data Collection</strong><br/><p class="subtext">We never track, analyze, or store your journaling habits</p></li>
					<li><span class="material-symbols-outlined">check</span> <strong>User Data Control</strong><br/><p class="subtext">Delete your account and entries anytime, without any hassle</p></li>
					<li><span class="material-symbols-outlined">check</span> <strong>No Third-Party Sharing</strong><br/><p class="subtext">Your private thoughts stay private - we never share your notes</p></li>
				</ul>
			</article>
		</main>
	</Section>
</Site>

<style>
	.hero {
		text-align: center;
		max-width: 750px;
		margin: 0 auto;
	}

	main {
		text-align: center;
		margin: 0 auto;
	}

	.footnote {
		margin-top: 0.5em;
		font-size: 0.8em;
		font-family: var(--font-family__sans-serif);
		color: var(--color__white--regular);
	}

	.petal {
		width: 25px;
		position: absolute;
	}
	
	.petal:nth-child(1) {
		top: 32vh;
		left: -10%;
		animation: blowing 10s 1s linear infinite;
	}
	.petal:nth-child(2) {
		top: 30vh;
		left: -10%;
		animation: blowing 8s linear infinite;
	}
	.petal:nth-child(3) {
		top: 40vh;
		left: -10%;
		animation: blowing 9s 3s linear infinite;
	}

	article {
		max-width: 560px;
		margin: 0 auto;
		text-align: left;
	}

	.seperator {
		border-top: 1px solid var(--color__white--dim);
		width: 100%;
		margin: 2em 0;
	}

	.row-reverse {
		display: flex;
		flex-direction: row-reverse;
		text-align: right;
		margin-top: 1em;
	}

	ul {
		list-style-type: none;
	}

	li {
		margin-bottom: 2em;
		padding-bottom: 2em;
		border-bottom: 1px solid var(--color__white--dimmer);
	}

	.material-symbols-outlined {
		position: relative;
		color: var(--color__green--300);
		top: 5px;
		margin-right: 0.25em;
	}

	.subtext {
		margin-left: 1.5em;
	}

@keyframes blowing {
  0% {
    transform: translate(0,0) rotate(0)
  }
  25% {
    transform: translate(25vw, -10vh) rotate(120deg)
  }
  50% {
    transform: translate(50vw, -12vh) rotate(180deg)
  }
  75% {
    transform: translate(75vw, -17vh) rotate(250deg)
  }
  100% {
    transform: translate(100vw, -25vh) rotate(360deg)
  }
}

</style>
