---
import Site from "../layouts/Site.astro"
import Section from "../components/container/Section.astro"
import { Vars } from "../script/vars"

const title = `${Vars.product.name} — Tagline`
---

<Site title={title} description={Vars.product.description}>
	<Section>
		Homepage
	</Section>
</Site>
