---
import Site from "../layouts/Site.astro"
import { Vars } from "../script/vars"

const title = "Starter website — Tagline"
---

<Site title={title} description={Vars.site.description}>
	<h1>Homepage</h1>
</Site>
