---
import Site from "../layouts/Site.astro"
import Section from "../components/container/Section.astro"
import Link from "../components/elements/Link.astro"
import { Var } from "../script/var"
---

<Site title={`${Var.app.name} — ${Var.app.tagline}`} description={Var.app.description}>
	<Section>
		<div class="hero">
			<h1>Clear your mind. Feel better</h1>
			<h2>InnerPage is a <strong>privacy-centric digital journal</strong> where you can pour out your deepest thoughts and feelings, free from judgment or prying eyes. <strong>It is your safest place!</strong></h2>
			<Link href={Var.app.url} variant="button" fill="solid" theme="default" size="large"><strong>Start Writing</strong></Link>
		</div>
	</Section>
	<Section>
		<div class="hero">
			<div class="privacy__feature__container">
				<h1>Privacy Commitment</h1>
				<br/>
				<div class="privacy__feature__list">
					<h2>✅&nbsp;&nbsp;Username & Password only</h2>
					<h2>✅&nbsp;&nbsp;No contact details needed</h2>
					<h2>✅&nbsp;&nbsp;No server logs</h2>
					<h2>✅&nbsp;&nbsp;Even we can't read your notes</h2>
				</div>
			</div>
		</div>
	</Section>
	<Section>
		<div class="hero">
			<h1>Support Us</h1>
			<h2>By donating you keep InnerPage afloat and make the benefits of journaling accessible to others</h2>
			<iframe id='kofiframe' src='https://ko-fi.com/innerpage/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:350px;padding:4px;background:#f9f9f9;border-radius: 0.5em;' height='600' title='innerpage'></iframe>
		</div>
		
	</Section>
</Site>

<style>
	.hero {
		text-align: center;
		max-width: 750px;
		margin: 0 auto;
	}
	.hero h1 {
		font-family: "IBM Plex Serif", serif;
		font-size: 2.5em;
		line-height: 1.2em;
	}
	.hero h2 {
		margin: 0.5em 0 1.25em 0;
		font-weight: 400;
		font-size: 1.25em;
	}

	.social-proof__logo {
		width: 300px;
		height: 70px;
		background: var(--color__grey--lighter);
		border-radius: var(--border-radius);
	}

	.privacy__feature__container {
		width: 340px;
		margin: 0 auto;
		text-align: left;
		border: var(--border);
		padding: 1.25em;
		border-radius: 1em;
	}

	.privacy__feature__list {
		text-align: left
	}

	iframe {
		background: #121212;
	}
</style>
