---
import Site from "../layouts/Site.astro"
import Section from "../components/container/Section.astro"
import { Vars } from "../script/vars"

const title = "Starter website — Tagline"
---

<Site title={title} description={Vars.sitedescription}>
	<Section>
		Homepage
	</Section>
</Site>
