---
import Site from "../../layouts/Site.astro"
import Section from "../../components/container/Section.astro"
import { Vars } from "../../script/vars"

const title = `Privacy Policy — ${Vars.product.name}`
---

<Site title={title} description={Vars.product.description}>
	<Section>
		Privacy Policy
	</Section>
</Site>
