---
import Site from '../../layouts/Site.astro'
import Section from '../../components/container/Section.astro'
import Link from '../../components/elements/Link.astro'
import { Var } from '../../script/var'
---

<Site
  title={`${Var.app.name} — ${Var.app.tagline}`}
  description={Var.app.description}
>
  <Section>
    <main>
      <h1>Blog</h1>
      <br />
      <article>
        <ul>
          <li>
            <Link href="./innerpage-secure-and-private-digital-journal">
              Welcome to InnerPage — Your Secure & Private Digital Journal
            </Link>
            <p class="footnote">20 July 2024</p>
          </li>

          <li>
            <Link href="./innerpage-secure-and-private-digital-journal">
              Welcome to InnerPage — Your Secure & Private Digital Journal
            </Link>
            <p class="footnote">20 July 2024</p>
          </li>
          <li>
            <Link href="./innerpage-secure-and-private-digital-journal">
              Welcome to InnerPage — Your Secure & Private Digital Journal
            </Link>
            <p class="footnote">20 July 2024</p>
          </li>
        </ul>
      </article>
    </main>
  </Section>
</Site>

<style></style>
