---
import Site from '../../layouts/Site.astro'
import Section from '../../components/container/Section.astro'
import { Var } from '../../script/var'
---

<Site
  title={`${Var.app.name} — ${Var.app.tagline}`}
  description={Var.app.description}
>
  <Section>
    <main>
      <h1>Blog</h1>
      <br />
      <article>Coming soon. Stay tuned!</article>
    </main>
  </Section>
</Site>

<style></style>
