---
import Site from "../../layouts/Site.astro"
import Section from "../../components/container/Section.astro"
import { Var } from "../../script/var"
import Link from "../../components/elements/Link.astro"

const title = `Privacy Policy — ${Var.app.name}`
---

<Site title={title} description={Var.app.description}>
	<Section>
		<main>
			<h1>Welcome to InnerPage — Your Secure & Private Digital Journal</h1>
			<img alt="InnerPage - Secure & Private Digital Journal" src="https://res.cloudinary.com/dj9xh37fj/image/upload/v1720549524/about_m26dh6.jpg" width="100%" alt="InnerPage - Secure and Private Digital Journal"/>
			<br/>
			<p>InnerPage is the safest place to write your deepest thoughts and feelings. Our digital journal is designed with privacy at its core, ensuring your reflections remain <strong>completely anonymous and confidential</strong>. Discover the power of private reflection with InnerPage, the most secure online journaling platform. Our privacy-centric digital diary ensures your thoughts remain truly confidential.</p>
			<br/>
			<h2>Why Choose InnerPage for Your Digital Journaling Needs?</h2>
			<ul>
				<li>
					<strong>No Identifying Information:</strong> <br/>To join InnerPage, all you need is a username and password. We do not require your email address, phone number, or any other identifiable information. Your identity remains completely anonymous, allowing you to focus solely on your journaling experience.
				</li>
				<li>
					<strong>Anonymous Journaling:</strong><br/> Your entries are yours alone. We do not access to your content and can't link it to any real-world person
				</li>
				<li>
					<strong>Zero Data Collection:</strong><br/> We don't track your usage, analyze your writing, or collect any data about your journaling habits. We do not maintain server access logs as well
				</li>
				<li>
					<strong>User Data Control:</strong><br/> You have full control over your data. You can easily delete your account and all associated journal entries at any time
				</li>
				<li>
					<strong>No Third-Party Sharing:</strong><br/> We will NEVER share your data with third parties. Your journal entries are yours alone, and we are committed to keeping them that way
				</li>
			</ul>
			<p>Thank you for choosing InnerPage. We look forward to being a part of your journey of your healing, self-discovery & inner peace</p>
			<br/>
			<p>Happy journaling!</p>
		</main>
	</Section>
</Site>

<style>
	main {
		max-width: 640px;
		text-align: center;
		margin: 0 auto;
		text-align: left;
	}

	img {
		margin: 2em 0;
	}

	li {
		margin-bottom: 2em;
		padding-bottom: 2em;
		border-bottom: 1px solid var(--color__white--dimmer);
	}
</style>
